force-app/main/default/flows/Breed_Wizard.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Information_Assignment</name>
        <label>Information Assignment</label>
        <locationX>455</locationX>
        <locationY>780</locationY>
        <assignmentItems>
            <assignToReference>Brees.Energy_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Energy_level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Height__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Height</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Weight__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Weight</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Life_Expectancy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Life_Expectancy</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Good_With_Kids__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Good_With_Children</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Good_With_Other_Dogs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Good_with_dogs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Coat_Length__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coat_lenght</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Coat_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Coat_type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Trainability_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Trainable</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Barking_Level__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Barking_level</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Brees.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Breed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Name_Assignment</name>
        <label>Name Assignment</label>
        <locationX>685</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>Brees.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Breed_check</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Breed_Exists</name>
        <label>Breed Exists?</label>
        <locationX>252</locationX>
        <locationY>324</locationY>
        <defaultConnector>
            <targetReference>Height_Weight_and_Life_Expectancy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Breed Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Breed_Already_in_System</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Breed_check</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Breed_Already_Exists</targetReference>
            </connector>
            <label>Breed Already in System</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Barking_level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Barking_Level__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Coat_lenght</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coat_Length__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Coat_type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Coat_Type__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Energy_level</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Energy_Level__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Good_With_Children</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Good_With_Kids__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Good_with_dogs</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Good_With_Other_Dogs__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Trainable</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Trainability_Level__c</picklistField>
        <picklistObject>Breed__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Breed Wizard {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Breed Wizard</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Breed</name>
        <label>Create Breed</label>
        <locationX>682</locationX>
        <locationY>781</locationY>
        <connector>
            <targetReference>Breed_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>Brees</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Breed_check</name>
        <label>Breed_check</label>
        <locationX>683</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Breed_Exists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Brees.Name</elementReference>
            </value>
        </filters>
        <object>Breed__c</object>
        <outputReference>Old_Breed</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Breed_Already_Exists</name>
        <label>Breed Already Exists</label>
        <locationX>260</locationX>
        <locationY>159</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Breed_Name</targetReference>
        </connector>
        <fields>
            <name>ExistsMessage</name>
            <fieldText>&lt;p&gt;A Breed with that name&lt;/p&gt;&lt;p&gt;already exists. Please enter a different Breed.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Breed_Created</name>
        <label>Breed Created</label>
        <locationX>683</locationX>
        <locationY>917</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>BreedCreated</name>
            <fieldText>&lt;p&gt;The Breedyou entered, {!Brees.Name}, &lt;/p&gt;&lt;p&gt;has been created.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Breed_Name</name>
        <label>Breed Name</label>
        <locationX>684</locationX>
        <locationY>76</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Name_Assignment</targetReference>
        </connector>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Coat</name>
        <label>Coat</label>
        <locationX>260</locationX>
        <locationY>646</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Social_Behavior</targetReference>
        </connector>
        <fields>
            <name>CoatType</name>
            <choiceReferences>Coat_type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Coat Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>CoatLength</name>
            <choiceReferences>Coat_lenght</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Coat Length</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>684</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Height_Weight_and_Life_Expectancy</name>
        <label>Height, Weight and Life Expectancy</label>
        <locationX>259</locationX>
        <locationY>491</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Coat</targetReference>
        </connector>
        <fields>
            <name>Height</name>
            <dataType>String</dataType>
            <fieldText>Height</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Weight</name>
            <dataType>String</dataType>
            <fieldText>Weight</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Life_Expectancy</name>
            <dataType>String</dataType>
            <fieldText>Life Expectancy</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Social_Behavior</name>
        <label>Social Behavior</label>
        <locationX>262</locationX>
        <locationY>781</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Information_Assignment</targetReference>
        </connector>
        <fields>
            <name>GoodWithChildren</name>
            <choiceReferences>Good_With_Children</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Good With Children</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Good_With_Other_Dogs</name>
            <choiceReferences>Good_with_dogs</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Good With Other Dogs</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Trainability_Level</name>
            <choiceReferences>Trainable</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Trainability Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>EnergyLevel</name>
            <choiceReferences>Energy_level</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Energy Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BarkingLevel</name>
            <choiceReferences>Barking_level</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Barking Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>135</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Breed_Name</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Brees</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Breed__c</objectType>
    </variables>
    <variables>
        <name>Old_Breed</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Breed__c</objectType>
    </variables>
</Flow>
